body{
	background-color: #23242c;
	background-image: url('../images/shattered-island.gif');
	background-repeat: repeat;
	background-position: top center;
	background-attachment: fixed;
	color: #CCC;
}

.content-body {
	margin-top: 83px;
}

.navbar-default {
	border-radius:0px;	
}

.movie-summary{
	position:fixed;
}

@media (max-width: 768px) {
	.movie-summary{
		position: relative;
	}
}


.movie-image >img {
	top: 10px;
	border-radius: 30px;
	height: auto;
	max-width: 100%;
	position: absolute;
	width: 60px;
}

.home-movie-name {
	font-family: "Arvo", Georgia, Times, serif;
	font-size: 45px;
	font-weight: bold;
	color: #FFFFFF;
	margin-bottom: 15px;
}

@media (max-width: 384px) {
	.movie-image{
		display: none;
	}
}

@media (max-width: 384px) {
	.home-movie-name{
		font-size: 35px;
	}
}

@media (min-width: 1020px) and (max-width: 1030px) { 
	.home-movie-name{
		font-size: 36px;
	}
	
	.movie-image >img {
		padding: 5px;
	}
 }

.home-movie-description {
	margin-bottom:15px;
}

.social-icons {
	background: rgba(204, 204, 204, 0);
	border: 2px solid #CCC;
	border-radius: 30px;
	padding: 10px 15px;
	margin-right:10px;
	color:#CCC;
	margin-bottom: 10px;
}

.social-icons:hover {
	background: rgba(204, 204, 204, 0);
	border: 2px solid #FFF;
	color:#FFFFFF;
}

.social-icons-fb {
	padding: 10px 19px;
}

.movie-social-icon {
	margin-bottom:15px;
}

.home-trailer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.home-trailer iframe,
.home-trailer object,
.home-trailer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-js {
	margin-top: 0px;
}

.sub-header {
	font-family: "Arvo", Georgia, Times, serif;
	font-size: 15px; 
	font-size: 1.5rem;
	letter-spacing: 0.1em;
	margin-bottom: 10px;
	padding: 5px;
	color: #FFFFFF;
	font-weight: 700;
}

.home-gallery > .row > div > img {
	max-width: 100%;
	border: 2px #ccc solid;
}

.home-gallery > .row > div > img:hover {
	border: 2px solid #34a343;
	cursor: pointer;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	opacity: 0.5;
}


.home-gallery > .row {
	margin-bottom: 15px;
}

.home-post > .row > div > div  {
	border: 2px #ccc solid;
	text-align:center;
	padding: 15px;
	color: #838383;
}

.home-post > .row > div > div:hover {
	background-color: rgba(255, 255, 255, 0.08);
	border: 2px solid #34a343;
	cursor: pointer;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	opacity: 0.5;
}

.home-post-header {
	font-family: "Arvo", Georgia, Times, serif;
	font-size: 18px;
	font-size: 1.8rem;
	letter-spacing: 0.1em;
	margin-bottom: 10px;
	padding: 5px;
	color: #FFFFFF;
	font-weight: 700;
}

.home-post > .row {
	margin-bottom: 15px;
}

/*------------------------------------*/

.movieList{
list-style:none;
}