<!DOCTYPE html>
<html lang="en" ng-app="MovieApp">
  <head>
    <meta charset="utf-8">
    <title>MovieGap</title>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	
    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
      <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="images/favicon.ico">
    <script src="js/angular.min.js"></script>
    <!--<script src="js/app.js"></script>-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="index.html">Home</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media <b class="caret"></b></a>
		          <ul class="dropdown-menu">
		            <li><a href="audio.html">Audio</a></li>
		            <li><a href="gallery.html">Gallery action</a></li>
		            <li><a href="videos.html">Videos</a></li>
		          </ul>
		        </li>
		        <li><a href="news.html">News</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid" ng-controller="MovieListCtrl">
		<div class="row">
		  <ul class="">
			<li ng-repeat="movie in movies" class="movieList">
				<div class="col-md-4">
					<a href="movie-details.html" class=" "><img width="350px" ng-src="{{movie.imageUrl}}"></a>
				</div>
				<div class="col-md-8" style="min-height: 280px;">
					<a href="#/movies/{{movie.id}}">{{movie.name}}</a>
					<p>{{movie.desc}}</p>
				</div>
			</li>
		  </ul>
		</div>
	</div>
    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <!--<script src="js/jquery.stacktable.js"></script>-->
    <script src="http://vjs.zencdn.net/4.3/video.js"></script>
    <script src="js/application.js"></script>
	<script src="js/movie-details.js"></script>
  </body>
</html>
