<!DOCTYPE html>
<html lang="en" ng-app="MovieApp">
  <head>
    <meta charset="utf-8">
    <title>MovieGap</title>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	
    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
      <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="images/favicon.ico">
    <script src="js/angular.min.js"></script>
    <!--<script src="js/app.js"></script>-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="index.html">Home</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media <b class="caret"></b></a>
		          <ul class="dropdown-menu">
		            <li><a href="audio.html">Audio</a></li>
		            <li><a href="gallery.html">Gallery action</a></li>
		            <li><a href="videos.html">Videos</a></li>
		          </ul>
		        </li>
		        <li><a href="news.html">News</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
	</nav>
	<div class="container content-body" ng-controller="MovieDetailsCtrl">	
	    <div class="row" ng-repeat="movie in movies">
	    	<div class="col-md-5 row movie-summary">
	    		<div class="col-xs-2 movie-image" >
	    			<img ng-src="{{movie.imageHero}}" width="120" height="120" alt="Hero">
	    		</div>
	    		<div class="col-xs-10">
	    			<div class="home-movie-name">
	    				{{movie.name}}
	    			</div>
	    			<div class="home-movie-description">
	    				{{movie.desc}}
	    			</div>
	    			<div class="movie-social-icon">
	    				<button class="btn btn-default btn-lg social-icons social-icons-fb"><i class="fa fa-facebook"></i></button>
	    				<button class="btn btn-default btn-lg social-icons"><i class="fa fa-twitter"></i></button>
	    				<button class="btn btn-default btn-lg social-icons"><i class="fa fa-youtube"></i></button>
	    				<button class="btn btn-default btn-lg social-icons"><i class="fa fa-google-plus"></i></button>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="col-md-7 col-md-offset-5">
	    		<div class="home-trailer">
	    			<iframe src="http://www.youtube.com/embed/8K4Jo76iYoU" frameborder="0" width="560" height="315"></iframe>
	    		</div>
	    		<br>
	    		<div class="sub-header">
	    			LATEST GALLERY
	    		</div>
	    		<br>
	    		<div class="home-gallery">
	    			<div class="row">
	    				<div class="col-xs-6">
	    					<img ng-src="{{movie.image1}}" />
	    				</div>
	    				<div class="col-xs-6">
	    					<img ng-src="{{movie.image2}}" />
	    				</div>
	    			</div>
	    			<div class="row">
	    				<div class="col-xs-6">
	    					<img ng-src="{{movie.image3}}" />
	    				</div>
	    				<div class="col-xs-6">
	    					<img ng-src="{{movie.image4}}" />
	    				</div>
	    			</div>
	    			<div class="row">
	    				<div class="col-xs-6">
	    					<img ng-src="{{movie.image5}}" />
	    				</div>
	    				<div class="col-xs-6">
	    					<img ng-src="{{movie.image6}}" />
	    				</div>
	    			</div>
	    		</div>
	    		<br>
	    		<div class="sub-header">
	    			LATEST POSTS
	    		</div>
	    		<br>
	    		<div class="home-post">
	    			<div class="row">
	    				<div class="col-xs-6">
	    					<div>
	    						<p>March 25, 2014</p>
	    						<a class="home-post-header">
	    							Release Date 
	    						</a>
	    					</div>
	    				</div>
	    				<div class="col-xs-6">
	    					<div>
	    						<p>March 20, 2014</p>
	    						<a class="home-post-header">
	    							Audio Launch
	    						</a>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="row">
	    				<div class="col-xs-6">
	    					<div>
	    						<p>March 10, 2014</p>
	    						<a class="home-post-header">
	    							Cast and Crew
	    						</a>
	    					</div>
	    				</div>
	    				<div class="col-xs-6">
	    					<div>
	    						<p>March 01, 2014</p>
	    						<a class="home-post-header">
	    							Press Release
	    						</a>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <!--<script src="js/jquery.stacktable.js"></script>-->
    <script src="http://vjs.zencdn.net/4.3/video.js"></script>
    <script src="js/application.js"></script>
	<script src="js/movie-details.js"></script>
  </body>
</html>
